.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.alert {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  display: flex;
  padding: 0.8rem;
  border-radius: 3px;
  color: #333;
  z-index: 1000;
  color: black;
}

.alert-success {
  background-color: green;
}

.alert-danger {
  background-color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input[type='file'] {
  display: none;
}
.custom-file-upload {
  border: 1px solid orange;
  font-size: 1.4rem;
  display: inline-block;
  padding: 3px 6px;
  cursor: pointer;
  margin-bottom: 10px;
}
